# Compiled Python
__pycache__/
*.pyc

# Data files
*.csv
*.ods
*.zip
*.pdf
*.png
*.txt
*joblib
*.tcs
*.bit

HM/data_misc/*

HM/Thesis/*
paramp_hdawg/overnight_paramp_gain_tracker.py

#added ignore for sim results
HM/simulator/two_qubit_simulator/optimization/optimization_tests/results/*
HM/simulator/two_qubit_simulator/sim_media/*